* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: rgb(218, 2, 255);
    background: radial-gradient(
        circle,
        rgba(218, 2, 255, 1) 0%,
        rgba(22, 130, 85, 1) 45%,
        rgba(255, 0, 0, 1) 100%
    );
    background-repeat: repeat;
    background-size: 5% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Papyrus", serif;
    overflow: hidden;
}

.shitty {
    h1 {
        color: magenta;
        font-size: 60px;
        transform: rotate(10deg) scaleX(2);
        perspective: 50px;
    }

    p {
        font-size: 30px;
    }

    .confuse {
        display: inline-block;
    }

    .marcsu {
        transition: transform 1s;
    }
}
.overlay {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    font-family: "Poppins", sans-serif;
    transition: all 0.5s;
    h1 {
        font-size: 40px;
        color: #6900ff;
    }
    p {
        font-size: 16px;
        font-weight: normal;
    }
    &--hidden {
        transform: translateY(100%);
    }
}
